# Benchmark run at 2026-01-25 21:09:29.297338

Manual statistics computation has been disabled. Please refer to Promethues/Grafana for experimental results.

- Run completed: batch_size=256, concurrency=16, 100 requests in 51.40s
