global:
  scrape_interval: 1s
  evaluation_interval: 1s

scrape_configs:
  - job_name: 'cross_encoder_server'
    static_configs:
      - targets: ['host.docker.internal:8000']
    metrics_path: /metrics
